<style>
* {
    font-family: Arial !important;
    font-size: 10pt !important;
}

h1, h2, h3 {
    font-size: 12pt !important;
}

[data-testid="stMetricValue"], [data-testid="column"] {
    font-family: 'Courier New' !important;
    font-size: 8pt !important;
}
</style>
